html {
    height: 100%;
    overflow-x: hidden;
}

.base_background {
    background-image: linear-gradient(to bottom, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    margin-top: 15px;
}

.htllogo {
    display: block;
    margin: 0 auto;
}

body h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 17pt;
    font-family: 'Lato', sans-serif;
}

.box_view {
    position: absolute;
    height: 400px;
    width: 600px;
    background-color: #3B3B3D;
    box-shadow: 10px -10px #8c8c8c;
}

.box_view h1 {
    letter-spacing: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 3px -3px gray;
    font-size: 60px;
    text-decoration: underline;
}