html {
    height: 100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin-top: 15px;
}

.htllogo {
    display: block;
    margin: 0 auto;
}

body h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 17pt;
    font-family: 'Lato', sans-serif;
}

.box_view {
    height: 400px;
    background-color: #3B3B3D;
    box-shadow: 10px -10px #8c8c8c;
}

.box_view h1 {
    letter-spacing: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 3px -3px gray;
    font-size: 60px;
    text-decoration: underline;
}

.header_bar {
    background: black;
    height: 150px;
}

.header_bar h1 {
    font-weight: bold;
    font-size: 60px;
    color: white;
    margin-top: 30px;
}

.first_place {
    background-color: orange;
}

.second_place {
    background-color: dimgray;
}

.third_place {
    background-color: silver;
}

td, th {
    padding: 5px;
}
table {
    border-collapse: separate;
    border-spacing: 0 8px;
}

.hexagon {
    position: relative;
    width: 150px; 
    height: 86.60px;
    background-color: orange;
    margin: 43.30px 0;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 43.30px solid orange;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 43.30px solid orange;
  }

  .hexagon h1 {
      font-size: 60px;
      color: white;
      font-weight: bold;
  }