
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap");

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  margin-top: 15px;
}

.htllogo {
  display: block;
  margin: 0 auto;
}

h1.site-title {
  margin-top: 25px;
  text-align: center;
  font-size: 50pt;
  font-weight: 900;
  text-transform: uppercase;
}

.header_bar {
  color: white;
  background: rgb(7, 7, 7);
  height: 150px;
}

.first_place {
  background-color: orange;
}

.second_place {
  background-color: silver;
}

.third_place {
  background-color: peru;
}

.outOfTopThree_place {
  background-color: #d3d3d3;
}

td,
th {
  padding: 5px;
}

th {
  font-weight: 900;
  text-transform: uppercase;
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.hexagon {
  position: relative;
  z-index: 1;
  width: 120px;
  height: 70px;
  background-color: orange;
  margin: 40px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 35px solid orange;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 35px solid orange;
}

.zdoglogo {
  position: absolute;
  background: orange;
  cursor: move;
  z-index: 3;
}

@media only screen and (max-width: 950px) {
  h1.site-title {
    font-size: 30pt;
    width: 500px;
    margin: 25px auto;
  }
}

@media only screen and (max-width: 550px) {
  h1.site-title {
    width: 100%;
  }
}