html {
    height: 100%;
    overflow-x: hidden;
}

.base_background {
    
}

.container {
    width: 100%;
    margin-top: 15px;
}

.htllogo {
    display: block;
    margin: 0 auto;
}

body h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 17pt;
    font-family: 'Lato', sans-serif;
}

.box_view {
    height: 400px;
    background-color: #3B3B3D;
    box-shadow: 10px -10px #8c8c8c;
}

.box_view h1 {
    letter-spacing: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 3px -3px gray;
    font-size: 60px;
    text-decoration: underline;
}

.header_bar {
    background: black;
    height: 150px;
}

.header_bar h1 {
    font-weight: bold;
    font-size: 60px;
    color: white;
    margin-top: 30px;
}

.first_place {
    background-color: orange;
}

.second_place {
    background-color: dimgray;
}

.third_place {
    background-color: silver;
}